<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1881">
    <div class="cs-container">
        {% if eleventyNavigation and eleventyNavigation.key %}
            <span class="cs-int-title">{{eleventyNavigation.key}}</span>
        {% endif %}
    </div>
    <!--Background Image-->
    <!--<img class="cs-graphic" src="/assets/svgs/banner-flower.svg" alt="flower" loading="lazy" decoding="async" height="202" width="331">-->
</div>
                                